In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
place_df=pd.read_csv('../Datasets/Placement_Data_Full_Class.csv')

In [46]:
place_df.head()

,degree_t_Others,degree_t_Sci&Tech,hsc_s_Commerce,hsc_s_Science,ssc_p,hsc_p,degree_p,workex,etest_p,specialisation,mba_p,status,salary,genderM,sscb,hscb
0,0,1,1,0,67.00,91.00,58.00,No,55.0,Mkt&HR,58.80,Placed,270000.0,1,1,1
1,0,1,0,1,79.33,78.33,77.48,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,1,0,1
2,0,0,0,0,65.00,68.00,64.00,No,75.0,Mkt&Fin,57.80,Placed,250000.0,1,0,0
3,0,1,0,1,56.00,52.00,52.00,No,66.0,Mkt&HR,59.43,Not Placed,0.0,1,0,0
4,0,0,1,0,85.80,73.60,73.30,No,96.8,Mkt&Fin,55.50,Placed,425000.0,1,0,0

In [5]:
place_df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [6]:
place_df['salary'].fillna(0,inplace=True)

In [7]:
place_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          215 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

### Handling Categorical Values

In [13]:
dfg=pd.get_dummies(place_df[['gender']],drop_first=True) ## M=1 F=0

In [20]:
place_df['genderM']=dfg

In [24]:
place_df.drop('gender',axis=1,inplace=True)

In [63]:
place_df.head()

,specialisation_Mkt&HR,degree_t_Others,degree_t_Sci&Tech,hsc_s_Commerce,hsc_s_Science,ssc_p,hsc_p,degree_p,etest_p,mba_p,genderM,sscb,hscb,work_ex
0,1,0,1,1,0,67.00,91.00,58.00,55.0,58.80,1,1,1,1
1,0,0,1,0,1,79.33,78.33,77.48,86.5,66.28,1,0,1,0
2,0,0,0,0,0,65.00,68.00,64.00,75.0,57.80,1,0,0,0
3,1,0,1,0,1,56.00,52.00,52.00,66.0,59.43,1,0,0,0
4,0,0,0,1,0,85.80,73.60,73.30,96.8,55.50,1,0,0,0

In [26]:
dfsb=pd.get_dummies(place_df[['ssc_b']],drop_first=True)
place_df['sscb']=dfsb ## Others=1 Central=0

In [27]:
place_df.drop('ssc_b',axis=1,inplace=True)

In [29]:
dfhb=pd.get_dummies(place_df[['hsc_b']],drop_first=True)
place_df['hscb']=dfhb ## Others=1 Central=0

In [30]:
place_df.drop('hsc_b',axis=1,inplace=True)

In [32]:
dfhs=pd.get_dummies(place_df[['hsc_s']],drop_first=True)

In [40]:
place_df=pd.concat([dfhs,place_df],axis=1)

In [38]:
place_df.drop('hsc_s',axis=1,inplace=True)
place_df.drop('sl_no',axis=1,inplace=True)

In [42]:
dfdt=pd.get_dummies(place_df[['degree_t']],drop_first=True)
place_df=pd.concat([dfdt,place_df],axis=1)

In [45]:
place_df.drop('degree_t',axis=1,inplace=True)

In [47]:
dfwe=pd.get_dummies(place_df[['workex']],drop_first=True)
place_df['work_ex']=dfsb

In [48]:
place_df.drop('workex',axis=1,inplace=True)

In [51]:
dfsp=pd.get_dummies(place_df[['specialisation']],drop_first=True)
place_df=pd.concat([dfsp,place_df],axis=1)

In [53]:
place_df.drop('specialisation',axis=1,inplace=True)

In [55]:
placed=pd.get_dummies(place_df[['status']],drop_first=True)
place_df['placed']=placed

In [57]:
place_df.drop('status',axis=1,inplace=True)

In [59]:
Y=place_df[['placed']]
place_df.drop('placed',axis=1,inplace=True)

In [61]:
Y.head()

   placed
0       1
1       1
2       1
3       0
4       1

In [62]:
salary=place_df[['salary']]
place_df.drop('salary',axis=1,inplace=True)

In [64]:
X=place_df.iloc[:,:]

### Standardization

In [65]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X= sc.fit_transform(X)
print(X[:5])

[[ 1.12390297 -0.23221018  1.62605898  0.95008151 -0.85666269 -0.02808697
   2.2688123  -1.14010225 -1.29109087 -0.59764672  0.73943397  1.08245885
   0.80076299  1.08245885]
 [-0.88975652 -0.23221018  1.62605898 -1.05254128  1.16732059  1.11336869
   1.10344799  1.51326671  1.08715679  0.6876202   0.73943397 -0.92382264
   0.80076299 -0.92382264]
 [-0.88975652 -0.23221018 -0.61498384 -1.05254128 -0.85666269 -0.21323793
   0.15331275 -0.32284282  0.21890765 -0.76947385  0.73943397 -0.92382264
  -1.24880896 -0.92382264]
 [ 1.12390297 -0.23221018  1.62605898 -1.05254128  1.16732059 -1.04641724
  -1.3183391  -1.95736168 -0.46059169 -0.48939563  0.73943397 -0.92382264
  -1.24880896 -0.92382264]
 [-0.88975652 -0.23221018 -0.61498384  0.95008151 -0.85666269  1.71233203
   0.66839091  0.9439093   1.86480603 -1.16467625  0.73943397 -0.92382264
  -1.24880896 -0.92382264]]

In [66]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [67]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(172, 14)
(172, 1)
(43, 14)
(43, 1)

### SVM

In [68]:
from sklearn import svm
clf=svm.SVC()
clf.fit(x_train, y_train)

C:\Python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC()

In [69]:
yhat_SVM=clf.predict(x_test)
yhat_SVM

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
      dtype=uint8)

In [70]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,yhat_SVM))

0.6976744186046512

### Random Forest

In [73]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=72)
rf.fit(x_train, y_train)

C:\Users\akidu\AppData\Local\Temp/ipykernel_11052/1017056560.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=72)

In [74]:
yhat_RF=rf.predict(x_test)
yhat_RF

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
      dtype=uint8)

In [75]:
print(metrics.accuracy_score(y_test,yhat_RF))

0.7209302325581395